include CMakeLists.txt
include setup.py
include pyproject.toml
include LICENSE
include README.md
include contributors.json

recursive-include asnumpy *
recursive-include include *
recursive-include src *
recursive-include python *
recursive-include third_party *
recursive-include docs *.md *.rst
prune docs/build

global-exclude __pycache__ *.py[cod]
global-exclude *.a *.o *.obj *.lib
global-exclude *.dll *.dylib
global-exclude *.log *.tmp *.bak *~
global-exclude .git* .github* .vscode*
global-exclude build/ dist/ *.egg-info/
